<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Accommodation</title>
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
	$(function(){
		<!-- 검색 버튼 클릭 -->
		$("#btn_search").click(function(e){
			e.preventDefault();
			$("#form_search").submit();
		})
		
		$("#btn_hotel").click(function(){
			location.href="/accommo/search?keyword=호텔";
		})
		$("#btn_guest").click(function(){
			location.href="/accommo/search?keyword=게스트";
		})
		$("#btn_condo").click(function(){
			location.href="/accommo/search?keyword=콘도";
		})
	})
</script>
</head>
<body>
	<h2>숙박 메인</h2>
	<br>
	
	<!-- 검색기능 -->
	<hr>
	<div>
		<form action="/accommo/search" id="form_search" method="get">
			검색어 : <input type="text" name="keyword">
			<select name="category">
				<option value="0">카테고리</option>
				<option value="1">카테고리1</option>
				<option value="2">카테고리2</option>
				<option value="3">카테고리3</option>
			</select>
			<input type="button" id="btn_search" value="검색">
		</form>
	</div>
	<hr>
	
	<!-- Test -->
	<!-- <th:block th:if="${realPath != null}">
		<img th:src="|/${realPath}|" width="600">
	</th:block> -->
	
	<!-- 카테고리별 검색 버튼 -->
	<hr>
	<div>
		<h3>숙소 종류</h3>
		<input type="button" id="btn_hotel" value="호텔">
		<input type="button" id="btn_guest" value="게하">
		<input type="button" id="btn_condo" value="콘도">
	</div>
	<hr>
	
	<!-- 현재 인기 숙소 -->
	<hr>
	<div>
		<h3>인기 숙소</h3>
		<span th:each="a: ${accommo_list}">
			<span th:text="${a.name}"></span><br>
		</span>
	</div>
	<hr>
</body>
</html>