<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src='https://code.jquery.com/jquery-3.6.3.min.js'></script>
<script type="text/javascript">
$(function(){
	sessionStorage.setItem("MyId",$("#id").val());
})
</script>
</head>
<body>
<span  th:text="${session.id}+'님이 로그인 하였습니다.'"></span>
<a href="/logout">로그아웃</a>
<input type="hidden" th:value="${session.id}" readonly="readonly" id="id">
<a th:href="'/myPage/updateMyInfo?id='+${session.id}">회원정보수정</a>
<a href="../member/changePwd">비밀번호수정</a>
<a th:href="'/myPage/myPoint?id='+${session.id}">포인트</a>
<a th:href="'/myPage/myReservation?id='+${session.id}">예약</a>
<a th:href="'/myPage/myLike?id='+${session.id}+'&category=accommodation'">찜</a>
<a th:href="'/myPage/myInquiry?id='+${session.id}">내문의</a>
</body>
</html>